body, header {
    padding: 0px;
    margin: 0px;
    font-family: Verdana;
}

body{
    background-color: #86CB92;
}

#main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #474350;
    margin: 50px 30px 50px 30px;
    border-radius: 10px;
}